{% extends "base.html" %}
{% block content %}
    <h1>시험 성적 확인하기</h1>
    <p>이름을 클릭하세요.</p>
    <ul>
        {% for key, value in template_students | dictsort %}
            <li><a href="/student/{{ key }}">{{ value["name"] }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

<!--
<h1>메인 화면</h1>
{% if template_variable == "Hello" %}
    <p>{{ template_variable }}, World!</p>
{% endif %}

{% if template_variable < 20 %}
    <p>{{ template_variable }}은 20보다 작다.</p>
{% elif template_variable > 20 %}
    <p>{{ template_variable }}은 20보다 크다.</p>
{% else %}
    <p>{{ template_variable }}은 20이다.</p>
{% endif %}
<ul>
    {% for x in range(10) %}
        <li>{{ x }}</li>
    {% endfor %}
    {% for key, value in template_dict.items() %}
        <li>{{ key }} : {{ value }}</li>
    {% endfor %}
    {% for key, value in tmplate_dict | dictsort %}
        <li>{{ key }} : {{ value }}</li>
    {% endfor %}
</ul>
{% extends "base.html"  %}
-->